body {
  background-color: #16294a;
}

.scoreboard {
  //border-style: dotted;
  border-color: white;
  display: inline-flex;
  flex-direction: row;
}

.player1 {
  border-style: dotted;
  border-color: gray;
  border-width: 2px;
  width: 500px;
  height: 600px;
  border-right-style: none;
}

.player2 {
  border-style: dotted;
  border-color: gray;
  border-width: 2px;
  width: 500px;
  height: 600px;

}